<div id="account_name" class="profile_show_section liquidSlider_auto_height">
	<h2 class="hidden title">
			Travel Account
	</h2>
	<div class="section_body">
		<% if @profile.account %>
			<div id="help">
			A Travel Account is used for booking different kinds of services.
			</div>
			<strong>Account Name:</strong>
			<%= best_in_place @profile.account, :name %>
		<% else %>
			<div id="help">
			  This profile does not have a Travel Account. A Travel Account will enable the user to book services. 
			  </p>
			  Not all profile needs a Travel Account. For example, for group of people trevelling together, only one of them need to open a Travel Account.
			  </p>
			  Click on the link below to open an Account for this Profile.
			  	<br/>
			  	<div class="toggler">
			  	<%=link_to 'Create Account', '', id: "create_account_link", class: 'add_fields no-print'%>
				<%=render 'accounts/form2'%>
				</div>
			</div>
		<% end %>

	</div>
</div>