<h2 class="hidden title">Guests</h2>

<div id="members">
	<%=launch_modal_form_link(profile_id: @profile.id, text: 'Add Guest', 
			path: 'new_member_path')%>
  <%=render partial: 'members/table', locals: {members: @profile.members, remote: true}%>
</div>