<% if @profile.account %>
<div id="group_details" class="profile_show_section">
	<h2 class="section_divider">
	<%=section_hide_link :group_hide_link%>	
	Groups
	</h2>
	<div class="section_body">

		<div id="help">
		Groups are used to select one or more profiles for a particular service. For example, when booking a Flight, a group should be created if the Account Holder is travelling with a group.
		</br>
		<%=link_to 'Add Group', '', id: "add_group_link", class: 'add_fields no-print'%>
		<%=render 'groups/form' %>

		</div>
		<div id="groups_list">

		<%@profile.account.groups.each do | group | %>
			<%=render group%>
		<% end %>
		</div>
	</div>	
</div>
<% end %>