<tr>
    <td><%= link_to 'View', profile, class: 'slow_link' %></td>

        <td><%= profile.full_name %></td>

    <td><%= profile.email %></td>
    <td><%= link_to 'X', profile, method: :delete, class: "remove_fields", data: { confirm: "Delete Record for '#{profile.full_name}'?" } %>
    </td>
</tr>