<table id="profile_index_table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @profiles.each do |profile| %>
      <%= render profile %>
    <% end if @profiles%>
  </tbody>
</table>