remove_overlay();
$('body').append('<div class="overlay-5"></div>');
$('body').append('<%=j render("form")%>');
$('#profile_form_container').center();
$('#profile_form_container').addClass('modal-1');
$('#profile_form_container').hide().slideDown('fast', function() {
	$('#new_profile_form input:text').first().focus();
});

$('input#source').val('<%=params[:source]%>');