<%=javascript_tag do %>
	$(document).ready(function(){
	  init_add_profile_form();

	});
<% end %>

<div id="new_profile">
	
	<div id="section_title">
		Add Client
	</div>
	<div id="section_controls">

	<%= render 'add_profile' %>
	</div>
	<div class="table_botom_spacer">&nbsp</div>
</div>