  <% if @profile && @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %></h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="section_title">
Deleted Profiles
</div>

<div id="profile_index_table_container">
    <%= render 'profile_table'%>
<div class="table_botom_spacer">&nbsp</div>
</div>
