<li id="profile_phone_<%=phone.id%>">
<%=link_to 'X', phone, remote: true, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete #{number_to_phone phone.number}?"} %>
<%=phone.phone_type %> - <%=number_to_phone phone.number%>
</li>