<table id="phone_list">
  <tbody>
    <th>Type</th>
    <th>Number</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tbody>

  <%phones.each do | phone | %>
    <%=render phone%>
  <% end %>
</table>