<div id="note_<%=note.id%>" class="profile_note">
	<%=link_to 'X', note, remote: true, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete Note?"} %>
	<strong>Date: </strong><span><%=note.updated_at.to_time.to_s(:med)%></span>

	<div class="note_text">
		<%=best_in_place note, :note, :type => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %>
	</div>
</div>