<table id="notes_list">
  <tbody>
    <th>Note</th>
    <th>Added By</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tbody>

  <%notes.each do | note | %>
    <%=render note%>
  <% end %>
</table>