<h2>System Updates</h2>


<table class="system_updates">
<tr>
  <th>Version</th>
  <th>Date</th>
  <th>Changes</th>
</tr>
<tr>
  <td>1.0.1</td>
  <td>April 8, 2014</td>
  <td>
    <li>Display version number</li>
    <li>Add System Updates Page</li>
    <li>Remove Passport/Visa for Corporate clients</li>
    <li>Fix bug where passport/visa is added to wrong client</li>
  </td>
</tr>

<tr class="even">
  <td>1.1.0</td>
  <td>April 9, 2014</td>
  <td>
    <li>Rename 'All Clients' to 'Profiles Index'</li>
    <li>Fix bug where Update panel for Corporate is blank</li>
    <li>Add Vendor Profile</li>
  </td>
</tr>

<tr class="current">
  <td><%=current_version%></td>
  <td>April 13, 2014</td>
  <td>
    <li>Admin can disable/activate Users</li>
  </td>
</tr>


</table>
