<h2>System Updates</h2>


<table class="system_updates">
<tr>
	<th>Version</th>
	<th>Date</th>
	<th>Changes</th>
</tr>
<tr>
	<td>1.0.1</td>
	<td>April 8, 2014</td>
<td>
<li>Display version number</li>
<li>Add System Updates Page</li>
<li>Remove Passport/Visa for Corporate clients</li>
<li>Fix bug where passport/visa is added to wrong client</li>
</td>
</tr>
</table>
