<div id="versions">
	<h2>
	User Activities
	</h2>

<table>

<tr>
	<th>User</th>
	<th>Description</th>
	<th>Client</th>
</tr>

<% @versions.each do | version | %>
		<tr>
			<td><%=User.find(version.whodunnit).username%></td>
			<td><%="#{version.event.sub(/e?$/, "ed").humanize} #{version.display}"%> <!--%=link_to('view', pv.version.item) if pv.version.item%--></td>
			<td><%=version.profile.try :full_name%> <%=link_to 'view', version.profile%></td>
		</tr>
<% end %>
</table>
</div>