.add_fields, .button_link  {
	margin-top: .5em;
	margin-left: .5em;
	padding: .25em;
	padding-left: .75em;
	padding-right: .75em;
	background-color: #F5F5F5 ;
	width: 20em;
	font-size: .7em;
	color: #003300;
	border-radius: .5em;
	border: 1px solid #003300;
	text-decoration: none;

	a:visited {
		color: white;
	}
}

.remove_fields {
	color: 	#FF5C33;
	font-weight: bolder;
	display: inline;
	text-decoration: none;
}