/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require blueprint/reset
 *= require blueprint/grid.css
 *= require blueprint/typography.css
 *= require blueprint/forms.css
 *= require blueprint/fancy-type
 *= require blueprint/buttons
 *= require blueprint/ext
 
 *= require jquery.ui.datepicker
 *= require best_in_place
 *= require common
 *= require liquid-slider
 *= require animate
 *= require data_table
 *= require jchan-jquery-ui
 *= require hide_toggler.overlay
 *= require_self
 *= require_tree .
 */
html {
  background: #99A789;
  height: 100%;
}

html, body {
  min-height: 100%;
}


#header
{
	padding: 15px;
	height: 50px;
	background: white;

	color: #375219;
}

#nav_bar a {
		margin-left: 1em;
	}

#nav_bar {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 1.5em;
	margin-bottom: 0;
	padding-bottom: 0;

}


#help {
	
	font-size: .9em;
	font-style: italic;
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
	padding: 15px;
	
	background: #FFFFE9;

	margin-left: -13px;
	margin-right: -1em;
	
	margin-bottom: 1em;
}

.info {
	margin: 5px;
	font-size: .9em;
	font-style: italic;
	//border: 1px solid #C1D4E6;
	border-radius: 5px;
	padding: 5px;
	padding-left: 20px;
	
	background: #FFFFE9;
	color: #8794A1;
}

#staging_warning {
	border: 1px solid red;
	border-bottom: 1px solid black;
	clear: both;
	background: red;
	margin-bottom: 3px;

}

#version {
	float: right;
	font-style: italic;
	margin-right: 3px;
	font-size: .8em;
	color: #859572;
}
