table
{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0;
}

thead th, th
{
	font-size: .95em;
	font-weight: bold;
	padding: 8px;
	border: 1px solid #ABC391;
	color: #000000;
	background: #E4F4D3;
}

table, tr, td {
		border: 1px solid #ABC391;
}

td
{
	padding: 3px;
	border: 1px solid #ABC391;
}

tr:hover {
	// background: #E0F5C8;
}

tr.even {
	background: #EFF6E7;
}

tr:hover {
	background: #E0F5C8;
}

tbody tr:nth-child(even) td, tbody tr.even td {
	background: #EFF6E7;
}

.updated, tr.updated:hover {
	background: yellow;
}

input[type="date"] {
	width: 10em;
}

input[type="number"] {
	width: 5em;
}

input[type="text"].med {
	width: 10em;
}