table
{
	width: 100%;
	//text-align: center;
	border-collapse: collapse;
	// border: 1px solid #C7DBB1;
	// border-top: 7px solid #C7DBB1;
	// border-bottom: 7px solid #C7DBB1;


	//background: #e8edff; 
	//tr:hover { background: #C4CFF6; }
	//.e     { background: #CFD8F8; }
	margin-bottom: 0;
}

thead th, th
{
	font-size: .95em;

	font-weight: bold;
	padding: 8px;
	//border-right: 1px solid #5E5C59;
	//border-left: 1px solid #5E5C59;
	border: 1px solid #ABC391;
	//color: #039;
	color: #000000;
	background: #E4F4D3;
}

td
{
	padding: 3px;
	border: 1px solid #ABC391;
}

tr:hover {
	// background: #E0F5C8;
}

tr.even {
	background: #EFF6E7;
}

tr:hover {
	background: #E0F5C8;
}

tbody tr:nth-child(even) td, tbody tr.even td {
	background: #EFF6E7;
}

.updated, tr.updated:hover {
	background: yellow;
}

input[type="date"] {
	width: 10em;
}

input[type="number"] {
	width: 5em;
}

input[type="text"].med {
	width: 10em;
}