table
{
	margin: 1.5em;
	width: 800px;
	//text-align: center;
	border-collapse: collapse;
	border: 1px solid #C7DBB1;
	border-top: 7px solid #C7DBB1;
	border-bottom: 7px solid #C7DBB1;


	//background: #e8edff; 
	//tr:hover { background: #C4CFF6; }
	//.e     { background: #CFD8F8; }
}

th
{
	font-size: .95em;

	font-weight: bold;
	padding: 8px;
	//border-right: 1px solid #5E5C59;
	//border-left: 1px solid #5E5C59;
	border: 1px solid #ABC391;
	//color: #039;
	color: #000000;
	background: #E4F4D3;
}
 td
{
	padding: 3px;
	
	border-left: 1px solid #ABC391;
	border-right: 1px solid #ABC391;
	//color: #669;
}

tr:hover {
	background: #E0F5C8;
}



.updated, tr.updated:hover {
	background: yellow;
}

