// Place all the styles related to the Identifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
	
	background: #D4E6BF;
	border: 3px solid #C7DBB1;
	input:focus, select:focus {
		border: 3px solid #5F872D;
		background: #E4FFC1;
	}
}

#identification_table {
	ul {
		padding: 0;
		margin: 0;	
		list-style-type: none;
	}

}

.country_not_found {
	padding: 0;
	margin: 0;
	display: inline;
	span {
		margin-right: .25em;
		font-style: italic;
	}
	span.obsolete_msg {
		color: grey;	
	}
}