#navigation {
   
   border-top: 1px solid #375219;
   border-bottom: 1px solid #375219;
   background-color: #D4E6BF;
   height: 2.5em;
   // margin-left: -1em;
   // margin-right: -1em;
   display: block;
   font-weight: bold;

   a, a:visited {
   	color: #375219;
   }

   ul#menu {
   	height: 1em;
   	margin-bottom: -2.5em;
   	padding-top: .3em;
   	padding-left: 1em;
   	padding-right: 1em;
   }

    ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	ul li {
	  z-index: 9;
	  display: block;
	  position: relative;
	  float: left;
	}
	li ul { display: none; }
	ul li a {
	  display: block;
	  text-decoration: none;
	  //color: #ffffff;
	  padding: 5px 15px 5px 15px;
	  background: #D4E6BF;
	  margin-left: 1px;
	  white-space: nowrap;
	}

	//Highlight main menus
	ul li a:hover { 
	background: #D4E6BF; 
	
	color: #375219;	

	} 

	li:hover ul {
	  display: block;
	  position: absolute;

	}
	li:hover li {
	  float: none;
	  font-size: .9em;
	  //opacity: 095;
	}
	li:hover a { 
		background: #D4E6BF; 
	}
	li:hover li a:hover { 
		background: #91B666; 
		border-top: 1px solid #375219;
		border-bottom: 1px solid #375219;
		color: white;

	}
}

// For links that are not yet ready
#navigation a#x, li:hover {
	color: #928A8A;

 	li a#x:hover, 	a#x { 
	color: #928A8A;
	}
}