/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 10;
}

.overlay-5 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}


/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 10px; 
    left: 85%;
    // margin-top: -70px;
    // margin-left: -150px;
    background-color: #D5E6C2;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #85AA59;
    font-size: 15px;
    font-weight: normal;
    color: #39610B;
    z-index: 15; /* 1px higher than the overlay layer */
}

.modal-1 {
    z-index: 15; /* 1px higher than the overlay layer */
}


