#section_controls .group {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ABC391;
}
#type_filter, #new_profile {
	display: inline;
}


#profile_add_table {
	input {
		width: 10em;
	}

	input#profile_birth_day {
	width: 10em;
	}

	#profile_last_name, #profile_middle_name {
		width: 7em;
	}

	#new_profile_save_button {
		width: 5em;
	}
	
}

#gender_column {
	width: 2em;
}

