#groups_list {
	width: 700px;

}

#add_note_link {
	clear: both;
}
.profile_group, .profile_note {
	float: left;
	width: 300px;
	border: 1px solid #BCB7B2;
	
	margin: 1em;
	padding: .5em;
	border-radius: .5em;
}



.delete_group {
	font-size: .8em;
	float: right;
}

#back {
	margin-top: 3em;
	clear: both;
}


.field_group {
	margin-top: 1em;
	display: block;

	span.group {
		margin-right: 2em;
	}
}

form#new_phone, form#new_address, form.new_member, 
form#new_group, #new_account, #new_note, #new_identification {
	display: none;
}

#phone_column, #address_column {
	vertical-align: top;
	padding-bottom: 1em;
}

#contact_details_table {
	// border-top: 1px solid #BCB7B2;
	// border-bottom: 1px solid #BCB7B2;
	// border: 1px solid #BCB7B2;
	border: 0;
	margin-bottom: 2em;
	margin-left: 0;
	tr, td {
		padding-left: 10px;
		border: 0;
	}
}

#address_column {
	width: 475px;


	#address_line_one {
		width: 450px;
	}

	#address_zipcode {
		width: 5em;
	}

	fieldset {
		border: 0;
		padding: 0;
	}

	label {
		padding-right: 2px;
	}
}

#group_details #add_group_link, #create_account_link {
	font-size: 1em;
}

#notes_list{
	overflow: hidden;
}