form#new_phone, form#new_address {
	display: none;
}

#phone_column, #address_column {
	vertical-align: top;
	padding-bottom: 1em;
}

#contact_details_table {
}

#address_column {
	width: 475px;


	#address_line_one {
		width: 450px;
	}

	#address_zipcode {
		width: 5em;
	}

	fieldset {
		border: 0;
		padding: 0;
	}

	label {
		padding-right: 2px;
	}
}