#account_name {
	margin-top: 1em;
}
.field_group {
	margin-top: 1em;
	display: block;

	span.group {
		margin-right: 2em;
	}
}

form#new_phone, form#new_address {
	display: none;
}

#phone_column, #address_column {
	vertical-align: top;
	padding-bottom: 1em;
}

#contact_details_table {
	border-top: 1px solid #BCB7B2;
	border-bottom: 1px solid #BCB7B2;
	margin-bottom: 3em;
	tr, td {
		padding-left: 1em;
	}

}

#address_column {
	width: 475px;


	#address_line_one {
		width: 450px;
	}

	#address_zipcode {
		width: 5em;
	}

	fieldset {
		border: 0;
		padding: 0;
	}

	label {
		padding-right: 2px;
	}
}