#type_filter {
	display: inline;
}
#add_profile {
	display: none;
}

#profile_add_table {
	input {
		width: 10em;
	}

	input#profile_birth_day {
	width: 10em;
	}

	#profile_last_name, #profile_middle_name {
		width: 7em;
	}

	#new_profile_save_button {
		width: 5em;
	}
	
}

#gender_column {
	width: 2em;
}

