#section_controls .group {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ABC391;
}
#type_filter, #new_profile {
	display: inline;
}


#profile_add_table {

	width: auto;
	margin: 2em 2em auto;
	th {
		width: 10em;
		text-align: right;
	}

	td {
		padding: 0 1em;
		border: 1px solid #C7DBB1;
	}

	input {
		width: 10em;
	}

	input#profile_birth_day {
	width: 10em;
	}

	#profile_last_name, #profile_middle_name {
		width: 10em;
	}

	#new_profile_save_button {
		width: 5em;
		float: right;
	}
	
}

#gender_column {
	width: 2em;
}

