.section_table {
	margin: 0;
	width: 100%;
	border-top: 0;
	border-bottom: 0;

	th, td {
		padding: 4px;
	}

	td
	{
		padding: 3px 5px;
		border-left: 1px solid #ABC391;
		border-right: 1px solid #ABC391;
	}

	td.view {
		padding: 3px 7;
		background-color: #D4E6BF;
	}

	td.ppt {
		font-size: 85%;
	}

}

