.slider-container {
	// margin:0 auto;
	border: 1px solid #ABC391; 
	// display: table;
	// max-width: 1030px;
	// min-width: 875px;
}

.ls-wrapper .liquid-slider {
	 background: white;
	 
	 

}

.ls-nav {
	background: #D5E6C2;
}

.ls-wrapper {
	overflow: visible;
}

.ls-wrapper .ls-nav {

	a:hover {
		background: #E4F4D3;
	}
	a {
	background: #D5E6C2;

	}

	.current {
		font-weight: bold;
		text-decoration: underline;
		background: #EFF6E7;
		
	}
}

