<%=javascript_tag do %>

$(document).ready(function(){
  $('.efoid').on('click', function() {
    overlay();
  });
});
<% end %>

<%
  show_edits = show_edits.nil? ? true : show_edits
%>

<table id="identification_table">
  <thead>
    <tr>
      <% if defined?(show_client_name) && show_client_name %>
        <th>Client Name</th>
      <% end %>

      <th>Type</th>
      <th>ID</th>
      <th>Date Issued</th>
      <th>Expiration Date</th>
      <th>Other Details</th>
      <th>Scanned Image</th>
      <% if can?(:edit, Identification) && show_edits %> <th class="tiny"></th> <% end %>
      <% if can?(:add_image, Identification) && show_edits %> <th class="tiny"></th> <% end %>
      <% if can?(:destroy, Identification) && show_edits %> <th class="tiny"></th> <% end %>
    </tr>
  </thead>
  <tbody>
    <% identifications.each do | identification | %>
      <%=render partial: 'identifications/identification', 
        locals: {
          identification: identification, 
          show_client_name: defined?(show_client_name) && show_client_name,
          remote: defined?(remote) && remote,
          show_edits: defined?(show_edits) && show_edits
        }
      %>
    <% end %>
  </tbody>
</table>