<h1>Accounts</h1>

<div id="help">
When you create any type of Profile, an Account will automatically be created for them. 
<br/>
Click 'View' link to see details for the Account.
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Profile</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to 'View', account.profile %></td>
        <td><%= account.name %></td>
        <td><%= account.profile.full_name if account.profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Account', new_account_path %-->